{namespace JIRA.Templates.ProjectTemplates.Tutorial}

/**
 * Render the information page for My Project Template.
 */
{template .renderMyProjectTemplateExplanation}
    <p>{getText('tm.project.template.description')}</p>
{/template}